<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Notice Board Application{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ asset('/stylesheet/style.css') }}" type="text/css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Notice Board Application</h1>
        <a href="{{ path('fos_user_security_login')}}" class="btn btn-primary btn" role="button">Login</a>
        <a href="{{ path('fos_user_registration_register')}}" class="btn btn-primary btn" role="button">Registration</a>
        <a href="{{ path('notice_new')}}" class="btn btn-success btn" role="button">Add notice</a>
        <a href="{{ path('showMyNotices')}}" class="btn btn-success btn" role="button">Show all your notices</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin')}}" class="btn btn-danger" role="button" >Admin Panel</a>
        {% endif %}
        {% block body %}
            <h2>Current Notice's</h2>
            <p class="text-left">Sort by:</p>
            <table class="table">
                
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'n.id') }}</th>
                    <th{% if pagination.isSorted('n.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'n.title') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created', ['n.creationDate'])}}</th>
                   
            </table>
            <div class='container'>
                <div class="row">                   
                    <div class="col-sm-6 col-md-12">
                        {# table body #}
                        {% for notice in pagination %}
                            <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    {%if notice.picture.path is defined%}
                                        <img src="{{ asset('images/' ~ notice.picture.path) }}" alt="Symfony">
                                    {% else %}
                                        <img src="{{ asset('images/noImage.png') }}" alt="Symfony">
                                    {% endif %}
                                    <div class="caption">
                                        <h3><strong>{{notice.title}}</strong></h3>
                                        <p><strong>Description:</strong>{{ notice.description|slice(0, 100)}}...</p>
                                        <p><strong>Creation date:</strong> {{notice.creationDate|date('Y-m-d')}}</p>
                                        <p><a href="{{ path('notice_show', { 'id': notice.id }) }}" class="btn btn-primary btn-block" role="button">Show notice</a></p>
                                        <p><a href="{{ path('comments_new', { 'noticeId': notice.id })}}" class="btn btn-success btn-block" role="button">Add comment</a></p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>No notices found<p>
                            {% endfor %}
                            {# display navigation #}
                        <footer class="footer">
                            <div class="container">
                                <p class="text-muted">{{ knp_pagination_render(pagination) }}</p>
                                <p>made by Jakub Kamiński</p>
                            </div>    
                        </footer>
                    </div>
                </div>
            {% endblock %}
        </div>
    {% block javascripts %}{% endblock %}
</body>
</html>