<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    </head>
    <body>
        <div class="container">
            <h1>Notice Board Application</h1>
           
            <a href="{{ path('fos_user_security_login')}}" class="btn btn-primary btn" role="button">Login</a>
            <a href="{{ path('fos_user_registration_register')}}" class="btn btn-success btn" role="button">Registration</a>
            <a href="{{ path('notice_new')}}" class="btn btn-warning btn" role="button">Add notice</a>
            <a href="{{ path('notice')}}" class="btn btn-warning btn" role="button">Show all notices</a>

            {% block body %}
                

                
            {% endblock %}
         
        
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>