{% extends '::base.html.twig' %}

{% block body %}
    <h1>Notice list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Expirationdate</th>
                <th>Creationdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notice in notices %}
            <tr>
                <td><a href="{{ path('notice_show', { 'id': notice.id }) }}">{{ notice.id }}</a></td>
                <td>{{ notice.title }}</td>
                <td>{{ notice.description }}</td>
                <td>{% if notice.expirationDate %}{{ notice.expirationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if notice.creationDate %}{{ notice.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
               
                 <a class="btn btn-primary btn-block" href="{{ path('notice_show', { 'id': notice.id }) }}" role="button">Show</a>
                 <a class="btn btn-default btn-block" href="{{ path('notice_edit', { 'id': notice.id }) }}" role="button">Edit</a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}
